NEXT_PUBLIC_TEMPO_CHAIN_ID=42431
NEXT_PUBLIC_TEMPO_RPC_URL=https://rpc.moderato.tempo.xyz
NEXT_PUBLIC_TEMPO_WS_URL=wss://rpc.moderato.tempo.xyz
NEXT_PUBLIC_EXPLORER_URL=https://explore.testnet.tempo.xyz
NEXT_PUBLIC_CHAIN_NAME=Tempo Testnet (Moderato)
NEXT_PUBLIC_NFT_CONTRACT_ADDRESS=
NEXT_PUBLIC_PATHUSD_ADDRESS=0x20c0000000000000000000000000000000000000
SERVER_PRIVATE_KEY=
FEE_PAYER_KEY=
NFT_TREASURY_WALLET=
IRYS_PRIVATE_KEY=
IRYS_NODE=https://devnet.irys.xyz
NEXT_PUBLIC_APP_URL=http://localhost:3000
